.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
db/schema.rb
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/schema.rb
/public/system/*
/coverage/
/spec/tmp/*
**.orig
config/*.yml
rerun.txt
nbproject
.DS_Store

config/db/database.production.yml
