@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin);

body {
	background: #F7F9F8 url(/images/bg.png);
	color: #262C30;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: .9em;
}

a {
	text-decoration: none;
	color: #AD2A1A;
}

#page-branding {
}

	#page-branding h1 {
	}

		#page-branding h1 a {
			background: url(/images/logo.png);
			height: 174px;
			width: 264px;
			display: block;
			text-indent: -900em;
			margin: 50px auto;
		}

#wrapper {
	width: 450px;
	margin: 0 auto 50px;
}

#omni-box {
}

	#omni-box fieldset {
		padding: 8px;
		background: rgba(39, 44, 48, 0.05);
	}

		#omni-box fieldset input {
			border: solid 1px #AAB1BB;
			padding: 12px 10px;
			font-size: 1em;
			display: block;
			width: 412px;
			outline: none;
			-webkit-box-shadow: 0 1px 2px #ccc;
			-webkit-transition: all 0.3s;
		}
		
		#omni-box fieldset input:focus {
			-webkit-box-shadow: 0 0 2px #AD5B51;
			border: solid 1px #AD2A1A;
		}
		
		#omni-box .submitCont input {
			display: none;
		}

.todoList {
	margin: 45px 0 0;
}

	.todoList h2 {
		font-size: 2em;
		color: #AD2A1A;
		font-family: Lobster, serif;
		margin-bottom: 10px;
	}
	
	.todoList ul {
	}
	
		.todoList ul li {
			padding: 12px 3px;
			border-bottom: solid 1px #EAEDEC;
			position: relative;
		}

			.todoList ul li input[type='checkbox'] {
				font-size: 1.2em;
			}
			
			.todoList ul li span {
				padding: 0 5px;
			}
			
			.todoList ul li a {
				height: 18px;
				width: 18px;
				display: block;
				border-radius: 20px;
				position: absolute;
				top: 10px;
				right: 3px;
				text-indent: -900em;
				background: #AD2A1A url(/images/delete.png) 50% 50% no-repeat;
				opacity: 0;
				
				-webkit-transition: -webkit-transform 0.3s;
				-webkit-transform: scale(0);
			}
			
			.todoList ul li:hover a {
				opacity: 1;
				-webkit-transform: scale(1);
			}

#completed-todo.todoList ul li {
	padding: 6px 3px;
	border-bottom: none;
}
	
	#completed-todo.todoList ul li span {
		padding: 0 5px;
		opacity: 0.5;
		font-size: .9em;
	}
	
	#completed-todo.todoList ul li a {
		top: 4px;
	}

#ie {
	text-align: center;
	padding: 50px;
	display: none;
}