@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin);

body {
	background: #F7F9F8 url(/images/bg.png);
	color: #262C30;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: .9em;
}

a {
	text-decoration: none;
	color: #AD2A1A;
	outline: none;
}

#page-branding {
}

	#page-branding h1 {
	}

		#page-branding h1 a {
			background: url(/images/logo.png);
			height: 174px;
			width: 264px;
			display: block;
			text-indent: -900em;
			margin: 40px auto;
		}

#wrapper {
	width: 450px;
	margin: 0 auto 40px;
	position: relative;
}

#agent {
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: 250px;
	width: 66px;
	height: 66px;
	background: url(/images/info.png) 0 100% no-repeat;
}

	#agent span {
		display: block;
		background: url(/images/loader.gif) 50% 15px no-repeat;
		width: 66px;
		height: 66px;
		color: #fff;
		font-size: .9em;
		text-align: center;
		line-height: 90px;
	}
	

#omni-box {
}

	#omni-box fieldset {
		padding: 10px 10px 19px;
		background: #F7F9F8 url(/images/omnibg.png) 0 0 no-repeat;
	}

		#omni-box fieldset input {
			border: solid 1px #8B2117;
			padding: 13px 10px;
			font-size: 1em;
			display: block;
			width: 408px;
			outline: none;
		}
		
		#omni-box fieldset input:focus {
			border: solid 1px #8B2117;
		}
		
		#omni-box .submitCont input {
			display: none;
		}

.todoList {
	margin: 45px 0 0;
}

	.todoList h2 {
		font-size: 2em;
		color: #AD2A1A;
		font-family: Lobster, serif;
		margin-bottom: 10px;
	}
	
	.todoList ul {
	}
	
		.todoList ul li {
			padding: 12px 3px;
			border-bottom: solid 1px #EAEDEC;
			position: relative;
		}

			.todoList ul li input[type='checkbox'] {
				font-size: 1.2em;
			}
			
			.todoList ul li span {
				padding: 0 5px;
			}
			
			.todoList ul li a {
				height: 18px;
				width: 18px;
				display: block;
				border-radius: 20px;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				-o-border-radius: 20px;
				position: absolute;
				top: 10px;
				right: 3px;
				text-indent: -900em;
				background: #AD2A1A url(/images/delete.png) 50% 50% no-repeat;
				opacity: 0;
				
				-webkit-transition: -webkit-transform 0.3s;
				-webkit-transform: scale(0);
			}
			
			.todoList ul li:hover a {
				opacity: 1;
				-webkit-transform: scale(1);
			}

#completed-todo.todoList ul li {
	padding: 6px 3px;
	border-bottom: none;
}
	
	#completed-todo.todoList ul li span {
		padding: 0 5px;
		opacity: 0.5;
		font-size: .9em;
	}
	
	#completed-todo.todoList ul li a {
		top: 4px;
	}


#ie {
	text-align: center;
	padding: 50px;
	display: none;
}


/*

Add it on webkit

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	margin: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:decrement,
::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-button:vertical:increment,
::-webkit-scrollbar-button:horizontal:increment {
	display: none;
}

::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 50px;
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 4px;
}

*/