<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta http-equiv="content-language" content="en" />
		
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="language" content="en-US" />
		<meta name="classification" content="public" />
		<meta name="resource-type" content="document" />
		<meta name="author" content="Oskar Krawczyk and Bogusław Tolarz" />
		<meta name="copyright" content="Oskar Krawczyk and Bogusław Tolarz" />
		
		<!-- iPhone -->
		<!-- <meta name="viewport" content="width=device-width, maximum-scale=1.0" /> -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		
		<meta name="robots" content="index,follow" />
		<meta name="googlebot" content="index,follow" />
		<meta name="geo.region" content="UK" />
		<meta name="geo.placename" content="England" />
		
		<%= stylesheet_link_tag "reset", "screen" %>
		
		<!--[if IE]>
			<meta http-equiv="imagetoolbar" content="no" />
			<meta http-equiv="X-UA-Compatible" content="IE=8" />
			<style type="text/css" media="screen">
				#wrapper {display: none}
				#ie {display: block}
			</style>
		<![endif]-->

	  <%= javascript_include_tag "mootools-core-1.3-full-compat", "mootools-more", "common" %>

	  <%= csrf_meta_tag %>

		<script type="text/javascript" charset="utf-8">
			//<![CDATA[
				var todoLists = {
						permalinkHash: 'p20as8',
						active: [
							{
								id: '1',
								title: 'some task'
							},
							{
								id: '2',
								title: 'some task 2'
							},
							{
								id: '3',
								title: 'some task 3'
							}
						],
						done: [
							{
								id: '4',
								title: 'done task'
							}
						]
				};

				window.addEvents({
					domready: function(){
						new AsapList(todoLists);
					}
				});
			//]]>
		</script>

		<title>ASAP! A Simple Anonymous Plan</title>
	</head>

	<body>
		<div id="wrapper">
			<div id="page-branding">
				<h1><a title="ASAP! A Simple Anonymous Plan" href="/">ASAP! A Simple Anonymous Plan</a></h1>
			</div> <!-- /page-brading -->
			
			<%= yield %>
			
			<div id="agent">
				<span>Saving</span>
			</div> <!-- /agent -->
		</div> 
		
		<div id="ie">
			Hold on there sparky! Using IE? Really? Come on now. You really need to move on and get a <a title="" href="http://google.com/chrome">better browser</a>.
		</div> <!-- /ie -->
		
	</body>
</html>